@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  color: white;
}
// TEXT SIZE
.small-t {
  font-size: 15px;
  font-weight: 300;
}
.medium-t {
  font-size: 25px;
  font-weight: 300;
}
.big-t {
  font-size: 50px;
  font-weight: 200;
}
// ACTIVE & DEACTIVATED
.active {
  height: 350px !important;
  opacity: 1 !important;
}
// BG COLORS ACCORDING TO TEMPERATURE
.hot-temp {
  background: linear-gradient(333deg, rgba(255,102,44,1) 0%, rgba(255,238,74,0.5) 100%);
}
.medium-temp {
  background: linear-gradient(333deg, rgba(51,151,172,1) 0%, rgba(0,112,255,0.2) 100%);
}
.cold-temp {
  background: linear-gradient(333deg, rgba(32,88,121,0.5326505602240896) 0%, rgba(83,194,254,1) 100%);
}
// PLACEHOLDER WHITE
.white-placeholder::placeholder {
  color: rgba(255, 255, 255, 0.534);
}
main {
  margin: 50px auto;
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.5);
  .input {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    input {
      height: 40px;
      width: 85%;
      border-radius: 10px;
      border: 0;
      padding-left: 10px;
      background-color:rgba(0, 0, 0, 0);
      color: rgb(100, 100, 100);
      outline: none;
      font-size: 18px;
    }
    button {
      width: 10%;
      background-color: #ffffff00;
      border: 0;
      cursor: pointer;
      outline: none;
      i {
        color: rgb(100, 100, 100);
      }
    }
  }
  .weather-card {
    width: 100%;
    height: 0;
    opacity: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: rgba(56, 56, 56, 0.849);
    transition: 1s;
    .info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .time {
        padding: 5px 0;
      }
    }
    .weather-icon {
      img {
        width: 105px;
      }
    }
    .temp-now {
      margin-top: -10px;
    }
    .condition {
      margin-top: -10px;
    }
    .high-low {
      display: flex;
      * {
        margin: 0 5px;
      }
    }
  }
}

@media (max-width: 500px) {
  main {
    width: 90%;
  }
}